
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div ><strong>CCA Track</strong></div>
		</div>
		<br>
    <form action="/login" method="post">
		<div class="login">
				<input type="email" placeholder="Enter your email" name="email"><br>
				<input type="password" placeholder="Enter yout password" name="password"><br>
				<input class="button" type="submit" value="Login">
		</form>
    </div>
     