<h1 style="margin: 0; padding-left:220px;" class="uk-heading-divider">About the Eco-Flex</h1>
<div class="uk-section uk-section-muted" style="background-color: white">
    <div style="" class="uk-container">
        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
            <div uk-slideshow="animation: push; autoplay:true; autoplay-interval:4000">
                <div class="uk-position-relative uk-visible-toggle uk-light">
                    <ul class="uk-slideshow-items">
                        <li>
                            <img id="cctImg" src="http://www.coldchaintech.com/wp-content/uploads/2017/10/GTS-EcoFlex-payload.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img id="cctImg" src="http://www.coldchaintech.com/wp-content/uploads/2017/10/ecoflex-open1.jpg" alt="" uk-cover>
                        </li>
                        <li>
                            <img id="cctImg" src="http://www.coldchaintech.com/wp-content/uploads/2017/10/GTS-EcoFlex-Family.jpg" alt="" uk-cover>
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
                <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                <div class="uk-section uk-section-default">
                    <div class="uk-container">
                        <h5><strong>Clinical, High Value Commercial, and R&D shipments</strong></h5>
                        <hr>
                        <ul>
                            <li>4+ Days Duration</li><br>
                            <li>Universal Pack-out</li><br>
                            <li>6L, 15L, 30L & 59L Payloads</li><br>
                            <li>2-8ºC | 15-25ºC | 2-30ºC |< -20ºC</li><br>
                        </ul>
                        <div>
                            <span style="padding-left:20px" ><a href="" uk-icon="icon: social"></a></span><span style="padding-left:20px"><strong>Share:</strong></span>
                            <hr>
                        </div>
                        <ul style="list-style-type:none; display:flex; justify-content:space-between">
                            <span><a href="" uk-icon="icon: mail"></a></span>
                            <span><a href="" uk-icon="icon: facebook"></a></span>
                            <span><a href="" uk-icon="icon: google-plus"></a></span>
                            <span><a href="" uk-icon="icon: linkedin"></a></span>
                            <span><a href="" uk-icon="icon: github"></a></span>
                            <span><a href="" uk-icon="icon: whatsapp"></a></span>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <hr>
                    <h5 style="margin: 0%" ><strong>Key Features:</strong></h5>
                    <hr>
                </div>
                <div>
                    <p>KoolTemp® GTS EcoFlex is a VIP-PCM qualified shipping solution specifically designed for efficient and compliant refurbishment in a return re-use environment.</p>
                    <p>Simple, Modular, and Robust Reusable Packaging for Domestic or International Shipments.</p>
                    <ul>
                        <li>Universal pack-out</li>
                        <li>4+ days of robust temperature performance</li>
                        <li>2-8°C, 15-25°C, and frozen</li>
                        <li>Simple, modular pack-out utilizing interchangeable Koolit® Refrigerants</li>
                        <li>Better thermal and physical performance with Vacuum Insulated Panels (VIP) and Koolit® Advanced PCM Gel</li>
                    </ul>
                </div>
                <div>
                    <hr>
                    <h5 style="margin: 0%" ><strong>Recommended use:</strong></h5>
                    <hr>
                </div>
                <div>
                    <p>Shipment of high-value therapies in first mile and clinical trial settings.</p>
                    <br><br>
                    <img src="http://www.aistlog.ru/en/wp-content/uploads/sites/2/2014/10/img_02_011.jpg" alt="">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>