<div>


</div>
<div class="menu-container">
  <div class="menu uk-card uk-card-default uk-card-body uk-width-1-4@m">
    <h3 class="uk-card-title"><a href="/location">LOCATIONS</a></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dicta aut porro quod, dolores debitis, officiis esse maiores enim
       sit dolorem asperiores inventore rem cumque pariatur ab dolor impedit 
       deserunt voluptate.</p>
  </div>
  <div class=" menu users uk-card uk-card-default uk-card-body uk-width-1-4@m">
      <h3 class="uk-card-title"><a href="/users">USERS</a></h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dicta aut porro quod, dolores debitis, officiis esse maiores enim
       sit dolorem asperiores inventore rem cumque pariatur ab dolor impedit 
       deserunt voluptate.</p>
  </div>
  </div>
  <div class="menu-container">
  <div class="menu uk-card uk-card-default uk-card-body uk-width-1-4@m">
      <h3 class="uk-card-title"><a href="/orders">ORDERS</a></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dicta aut porro quod, dolores debitis, officiis esse maiores enim
       sit dolorem asperiores inventore rem cumque pariatur ab dolor impedit 
       deserunt voluptate.</p>
  </div>
  <div class="menu uk-card uk-card-default uk-card-body uk-width-1-4@m">
      <h3 class="uk-card-title"><a href="/shippers">SHIPPERS</a></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dicta aut porro quod, dolores debitis, officiis esse maiores enim
       sit dolorem asperiores inventore rem cumque pariatur ab dolor impedit 
       deserunt voluptate.</p>
  </div>
  </div>


