<table class="uk-table uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Table Heading</th>
            <th>Table Heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#moda">{{order._id}}</a></td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
    </tbody>
</table>