<div class="menu-container">
  <div class="menu uk-card uk-card-default uk-card-body uk-width-1-4@m">
    <h3 class="uk-card-title"><a href="profile/locations">LOCATIONS</a></h3>
    <img style="width: 80%; height:80%" src="https://goodwilltxla.org/wp-content/uploads/2016/03/Store-Locations.png" alt="Locations">
  </div>
  </div>
  <div class="menu-container">
  <div class="menu uk-card uk-card-default uk-card-body uk-width-1-4@m">
      <h3 class="uk-card-title"><a href="profile/orders">ORDERS</a></h3>
       <img src="http://visualogistix.com/images/icons-large/fulfillment-services.png" alt="orders">
  </div>
  <div class="menu uk-card uk-card-default uk-card-body uk-width-1-4@m">
      <h3 class="uk-card-title"><a href="profile/shippers">SHIPPERS</a></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dicta aut porro quod, dolores debitis, officiis esse maiores enim
       sit dolorem asperiores inventore rem cumque pariatur ab dolor impedit 
       deserunt voluptate.</p>
  </div>
  </div>
