

<div class="confirm">
<form action="/users/{{user._id}}/update" method="post">
 <div class="uk-margin">
        <input class="uk-input uk-form-width-large" id="pass-inp" type="password" name="password" placeholder="Change your password">
        <br>
         <input class="uk-input uk-form-width-large" id="pass-inp" type="password" name="password" placeholder="Repeat your new password">
    </div>
   <input class="uk-button uk-button-primary" type="submit" value="Save changes">
</form>
</div>