<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
  </head>
  <body>
   <nav class="uk-navbar-container uk-margin" uk-navbar >
     <div class="uk-navbar-left">
       <a style="width:500px" class="uk-navbar-item uk-logo" href="x"><img src="https://lh3.googleusercontent.com/mb6YGUspcbJSHxFYmizdzUeaZqnXL7r8j5W2zQFimjJEmDSY0hugKfN6Q_R91buIOgxKpSa_El_8EHJx-Aqmj1NmAdyOYDOxPlCZ1Mzz0qEUJA2hkpZBZVVdFrz90N1vzyCj0zGC5jbfKdtdNe9cSGN5sURR_CgmR8gBFZsq1ROCEGh9US2UgZfeSEmswpQTA_jqZclaIOsOl5tdDueCP9t2kRQsSw6tXQ3PXalS1iFrFW6e7clB4QuTEu1Nqg_zT85yVJFcz4CrGIF_oeoHd52PMcb-FfuQo4kFLj_ZB-QBjQ2jqaRSEVW0ibW75iMsVrra1uAPglF_uruJ3jyEsAosCxUkvQCT4Mvme6j6GehSVFi0-eClRcpUXC-uuUi8sWpYE5gkdg8KLKlf5Q4yqt6LEGf6RlaHcSnq7jjmpTLxIF6c0goVU09OQ4VDuw-YRQt3QeIQs82E6fhIH5eXzXGRwngVnPjWr92Q3-tXyxWwYb9iLXBuGkXA23mZ9sNvZOtJaKzN8WJMKMI619Cu74EaCs4XfR8FLRxPPcrqlmEgTr38XnT7syHLIZyRArL7R5A2XhorL0xtW8AW-Z7dR64EEJN_zGaCq92qEgdJ=w1698-h254-no" alt="foto"></a>
     </div>
   </nav>   
 
        {{!-- <a href="/profile" uk-icon="icon: home">
        HOME
        </a> --}}
    {{{body}}}
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
