<div style= "border: 3px solid black">
<a href="/location">
<input type="submit" value="location">
</a>
<br>
<a href="/shippers">
<input type="submit" value="shippers">
</a>
<br>
<a href="/users">
<input type="submit" value="users">
</a>
<br>
<a href="/orders ">
<input type="submit" value="orders">
</a>
<br>
</div>
