{{!-- <div style= "border: 3px solid black">
<a href="/location">
<input type="submit" value="location">
</a>
<br>
<a href="/shippers">
<input type="submit" value="shippers">
</a>
<br>
<a href="/users">
<input type="submit" value="users">
</a>
<br>
<a href="/orders ">
<input type="submit" value="orders">
</a>
<br>
</div> --}}
<div class="uk-margin uk-container">
<ul class="uk-subnav uk-margin uk-container">
    <li class="uk-active uk-card uk-card-default uk-card-body uk-margin-left"><a href="/location">Location</a></li>
    <li class="uk-active uk-card uk-card-default uk-card-body uk-margin-left"><a href="/shippers">Shippers</a></li>
    <li class="uk-active uk-card uk-card-default uk-card-body uk-margin-left"><a href="/users">Users</a></li>
    <li class="uk-active uk-card uk-card-default uk-card-body uk-margin-left"><a href="/orders ">Orders</a></li>
</ul>
<hr class="uk-divider-icon">
</div>




