
  <div class="uk-position-large uk-position-center">
<h1 style="color:blue" class="uk-heading-bullet">Users</h1>
   <fieldset class="uk-fieldset">
<form action="/users" method="post">
       <legend class="uk-legend">Create a new User</legend>

       <div class="uk-margin">
           <label class="uk-form-label">Full Name</label>
           <input class="uk-input" name="name" type="text" placeholder="First Name">
           <input class="uk-input" name="lastName" type="text" placeholder="Last Name">

       </div>
        <div class="uk-margin">
          <label class="uk-form-label">E-mail</label>
          <input class="uk-input" type="email" name="email" placeholder="Enter your e-mail">
        </div>
           <br>
       <div class="uk-margin">
           <label class="uk-form-label">Set Password</label>
           <input class="uk-input" name="password" type="password" placeholder="Type New Password">
           <input class="uk-input" name="password1" type="password" placeholder="Confirm Password">
       </div>
           <br>
       <div class="uk-margin">
       <label class="uk-form-label">Role</label>
           <select class="uk-select" name="role">
               <option>Select...</option>
               <option>ADMIN</option>
               <option>CLIENT</option>
               <option>OPS</option>
           </select>
       </div>
       <br>
       <div class="form-actions">
           <a href="/users" class="btn btn-link">Cancel and go back</a>
           <br><br>
           <input type="submit" value="Save" class="btn btn-primary">
       </div>
    </form>


   </fieldset>
</form>
</div> 

